---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About me';
const description = 'Some info about myself';

const contactOptions = [
  {
    link: 'https://www.linkedin.com/in/irinakorotkaya/',
    icon: '/blog/linkedin.webp',
    alt: 'LinkedIn'
  },
  {
    link: 'https://github.com/ikorotkaya',
    icon: '/blog/github.webp',
    alt: 'GitHub'
  },
  {
    link: 'mailto:irina@korotkaya.com',
    icon: '/blog/gmail.webp',
    alt: 'Gmail'
  }
];
---

<BaseLayout title={title} description={description}>
  <div class="mb-12 flex-grow">
    <h2>{title}</h2>
    <div class="flex items-center justify-center gap-12">
      <p class="mt-0">
        I'm Irina. I'm a Full Stack Engineer with a background in
        Design and Architecture, based in Berlin. Currently the
        Software Engineer at <a
          href="https://www.buena.com"
          class="no-underline text-smalt hover:text-neutral">Buena</a
        >.
      </p>
    </div>
    <div class="not-prose flex gap-4 items-center mt-3">
      {
        contactOptions.map((option) => (
          <a href={option.link} target="_blank">
            <img src={option.icon} alt={option.alt} class="h-4" />
          </a>
        ))
      }
    </div>
  </div>
</BaseLayout>
