---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');

const title = 'Posts';
const description = 'Posts on software development journey.';
---

<BaseLayout title={title} description={description}>
  <div class="flex-grow">
    <h2>{title}:</h2>
    <ul>
      {
        allPosts
          .sort(
            (a, b) =>
              new Date(b.frontmatter.pubDate).getTime() -
              new Date(a.frontmatter.pubDate).getTime()
          )
          .map((post) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
      }
    </ul>
  </div>
</BaseLayout>
