---
import BaseLayout from './BaseLayout.astro';
import Tag from '../components/Tag.astro';
import { format } from 'date-fns';

const formatDate = (dateString: string) => {
  const date = new Date(dateString);
  return format(date, 'dd MMMM yyyy');
};

const { frontmatter, description, title } = Astro.props;
---

<BaseLayout description={description} title={title}>
  <article class="flex flex-col max-w-full flex-grow">
    <header>
      <h1>{frontmatter.title}</h1>
      <p>{formatDate(frontmatter.pubDate)}</p>
    </header>
    <main>
      <slot />
    </main>
    <div class="flex flex-wrap flex-col mb-12">
      <h2 class="mb-4">Tags:</h2>
      <div class="flex gap-2">
        {
          frontmatter.tags.map((tag: string) => (
            <Tag key={tag} tag={tag} />
          ))
        }
      </div>
    </div>
  </article>
</BaseLayout>
