---
import BaseLayout from './BaseLayout.astro';
import Tag from '../components/Tag.astro';
const { frontmatter, description, title } = Astro.props;
---

<BaseLayout description={description} title={title}>
  <article class="flex flex-col max-w-full">
    <header>
      <h2>{frontmatter.title}</h2>
      <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
    </header>
    <main>
      <slot />
    </main>
    <div class="flex flex-wrap flex-col mb-12">
      <div class="mb-4">Tags:</div>
      <div class="flex gap-2">
        {
          frontmatter.tags.map((tag: string) => (
            <Tag key={tag} tag={tag} />
          ))
        }
      </div>
    </div>
  </article>
</BaseLayout>
